# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
nbactions.xml
nb-configuration.xml

# IntelliJ specific #
.idea/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
